<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>C:/SitesLog/Catalog.log</file>
        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="FILE" />
    </root>
</configuration>
